body.portfolio {
    nav {
        .links {
            a {
                color: col(black);
            }
        }

        .hamburger .stripe {
            background-color: col(black);
        }
    }
    
    main {
        padding-top: 3rem;

        .portfolio {
            .inner {
                padding-top: 50px;
                @include max-width;
    
                @include respond(tablet) {
                    padding-top: 100px;
                }
    
                .top {
                    grid-column: 1 / span 12;
                    justify-content: space-between;
                    align-items: baseline;

                    @include respond(tablet) {
                        display: flex;
                    }
    
                    h1 {
                        font-size: #{'min(36px, 9vw)'};
                        padding-bottom: 1.5rem;
                        letter-spacing: 0.05em;
                    }
    
                    a {
                        font-size: 14px;
                        margin-right: 1.5rem;
                        margin-bottom: 0.5rem;
                        font-size: 12px;
                        display: inline-block;

                        @include respond(tablet) {
                            margin-left: 1.5rem;
                            margin-right: 0;
                            margin-bottom: 0;
                        }

                        @include respond(desktop) {
                            font-size: 14px;
                            margin-left: 2rem;
                        }
                    }
                }
    
                section {
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    column-gap: 15px;
                    grid-column: span 12;
                    padding-top: 3rem;

                    @include respond(tablet) {
                        padding-top: 1rem;
                        column-gap: 30px;
                    }

                    h2 {
                        grid-column: span 12;
                        font-family: Krungthep, sans-serif;
                        color: col(gray);
                        font-size: #{'min(21px, 5vw)'};
                        margin-bottom: 1em;
                    }

                    .item {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        cursor: pointer;
                        margin-bottom: 30px;
                        background-color: col(light-gray);
                        grid-column: span 12;
        
                        img {
                            width: 100%;
                            height: calc((100vw - 8rem) * 0.67);
                            object-fit: cover;
                            margin-bottom: -2px;
                        }
        
                        h4 {
                            width: 100%;
                            font-family: Lato, sans-serif;
                            background-color: col(purple);
                            color: white;
                            padding: 0.75em 1em;
                            font-size: 14px;
                            font-weight: normal;
                            transition: 300ms ease;
                            flex-grow: 1;
                        }
        
                        &:hover {
                            h4 {
                                transform: translateY(0);
                            }
                        }
        
                        @include respond(mobile) {
                            grid-column: span 6;
                            margin-bottom: 15px;
                            
                            img {
                                height: calc(((100vw - 8rem - 330px) / 2 + 150px) * 0.67);
                            }
                        }
        
                        @include respond(tablet) {
                            grid-column: span 4;
                            height: calc(((100vw - 8rem - 330px) / 3 + 90px) * 0.67);
                            max-height: 293px;
                            overflow: hidden;
                            display: block;
                            margin-bottom: 30px;
        
                            img {
                                height: 100%;
                            }
        
                            h4 {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                transform: translateY(100%);
                            }
                        }
        
                        @include respond(max) {
                            max-height: 382px;
                        }
                    }
                }
            }
        }
    }
}