/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Krungthep";
  src: url("/assets/fonts/Krungthep.ttf") format("truetype");
}
body {
  font-family: Lato, sans-serif;
}

h1, h2 {
  font-family: barricada-pro, sans-serif;
  letter-spacing: 0.03em;
}

h3, h4, h5, h6 {
  font-family: Krungthep, sans-serif;
}

p {
  font-size: 14px;
  line-height: 1.4;
}
@media (min-width: 992px) {
  p {
    font-size: 16px;
  }
}

a {
  font-family: Krungthep, sans-serif;
  color: #785DA5;
  text-decoration: underline;
  text-underline-offset: 2px;
  letter-spacing: 0.03em;
  transition: 300ms ease;
}
a:hover {
  color: black;
}

input:focus, textarea:focus {
  outline: 2px solid #785DA5;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 15px;
  padding: 0 2rem;
}
@media (min-width: 992px) {
  .grid-parent {
    padding: 0 4rem;
    column-gap: 30px;
  }
}

[data-aos=fade-right] {
  transform: translateX(-30px);
}

[data-aos=fade-up] {
  transform: translateY(30px);
}

nav {
  position: absolute;
  width: 100%;
  z-index: 100;
}
nav .links {
  grid-column: 1/span 12;
  padding: 2.5rem 0;
}
nav .links a {
  text-decoration-color: transparent;
  color: #FFFFFF;
  font-size: 14px;
  margin-right: 2rem;
}
nav .links a:hover {
  text-decoration-color: #FFFFFF;
}

nav.desktop-nav {
  display: none;
}
@media (min-width: 992px) {
  nav.desktop-nav {
    display: block;
  }
}

nav.mobile-nav {
  display: block;
  padding: 1rem;
}
@media (min-width: 992px) {
  nav.mobile-nav {
    display: none;
  }
}
nav.mobile-nav .hamburger {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
}
nav.mobile-nav .hamburger .stripe {
  width: 100%;
  height: 4px;
  margin-bottom: 4px;
  background-color: white;
}
nav.mobile-nav .slideout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 1;
  transform: translateX(-100%);
  transition: 500ms ease;
}
nav.mobile-nav .slideout.open {
  transform: translateX(0);
}
nav.mobile-nav .slideout .links {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 2;
}
nav.mobile-nav .slideout .links .close {
  margin-bottom: 2rem;
}
nav.mobile-nav .slideout .links .close svg {
  width: 15px;
  height: 15px;
}
nav.mobile-nav .slideout .links .close svg path {
  stroke-width: 3px;
  stroke: #785DA5;
  stroke-linecap: round;
}
nav.mobile-nav .slideout .links a {
  color: #000000;
  font-size: 16px;
  margin-bottom: 1rem;
}

footer {
  background-color: #000000;
  padding: 3rem 0;
  margin-top: auto;
}
footer .inner a {
  grid-column: 1/span 12;
  margin-left: auto;
  color: #FFFFFF;
  font-size: 14px;
}

.contact {
  position: relative;
}
.contact .inner {
  padding-top: 100px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (min-width: 2300px) {
  .contact .inner {
    max-width: 1900px;
  }
}
@media (min-width: 992px) {
  .contact .inner {
    padding-top: 200px;
  }
}
.contact .inner .bg {
  position: absolute;
  left: 0;
  top: 50px;
  background-image: url("/assets/images/contact-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 230px;
  z-index: -1;
}
@media (min-width: 992px) {
  .contact .inner .bg {
    top: 100px;
    width: calc(((100vw - 8rem - 330px) / 12 * 5) + 150px + 4rem);
    height: calc(100% - 100px);
  }
}
@media (min-width: 1500px) {
  .contact .inner .bg {
    width: calc(50vw - 102px);
  }
}
@media (min-width: 2300px) {
  .contact .inner .bg {
    width: calc(50vw - 135px);
  }
}
.contact .inner .info {
  grid-column: span 12;
}
@media (min-width: 992px) {
  .contact .inner .info {
    grid-column: 1/span 5;
  }
}
.contact .inner .info h2 {
  font-size: 36px;
  padding-bottom: 1.5rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.contact .inner .info a {
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  text-decoration-color: transparent;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 14px;
  margin-bottom: 0.75em;
}
.contact .inner .info a img {
  margin-right: 1em;
  filter: brightness(0) invert(1);
}
.contact .inner .info a:hover {
  text-decoration-color: #FFFFFF;
}
.contact .inner form {
  grid-column: span 12;
  padding-bottom: 5rem;
  padding-top: 100px;
}
@media (min-width: 992px) {
  .contact .inner form {
    grid-column: 7/span 6;
    margin-left: -30px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
  }
  .contact .inner form fieldset:last-of-type {
    grid-column: 1/span 2;
  }
}
.contact .inner form input[type=submit] {
  grid-column: 2/3;
  margin-left: auto;
  background-color: #785DA5;
  padding: 1em 2.3em 0.8em 2.5em;
  color: #FFFFFF;
  font-family: Krungthep, sans-serif;
  border: none;
  cursor: pointer;
  transition: 300ms ease;
}
.contact .inner form input[type=submit]:hover {
  filter: brightness(1.2);
}
.contact .inner form fieldset {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .contact .inner form fieldset {
    margin-bottom: 0;
  }
}
.contact .inner form fieldset label {
  display: block;
  font-size: 16px;
  margin-bottom: 0.5em;
}
.contact .inner form fieldset input, .contact .inner form fieldset textarea {
  display: block;
  width: 100%;
  background-color: #F2F2F2;
  border: none;
  font-size: 14px;
  padding: 0.75em 1em;
  resize: vertical;
  min-height: 3em;
  font-family: Lato, sans-serif;
}

body.home main .hero {
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
body.home main .hero .digit {
  background-image: url("/assets/images/digit-purple.png");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 50%;
  height: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
}
body.home main .hero .inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (min-width: 2300px) {
  body.home main .hero .inner {
    max-width: 1900px;
  }
}
body.home main .hero .inner .text-wrapper {
  grid-column: 1/span 12;
  padding-bottom: 15vh;
}
body.home main .hero .inner h1 {
  color: #FFFFFF;
  font-size: min(84px, 11vw);
  letter-spacing: 0.05em;
  position: relative;
  display: inline-block;
}
body.home main .hero .inner h1 .spacer {
  display: inline-block;
  width: 10px;
}
body.home main .hero .inner h1::before {
  content: "Kati";
  color: transparent;
  -webkit-text-stroke: 0.1px #785DA5;
  position: absolute;
  top: -0.03em;
  left: 0.03em;
}
body.home main .hero .inner h1::after {
  content: "Silveria";
  color: transparent;
  -webkit-text-stroke: 0.1px #785DA5;
  position: absolute;
  top: -0.03em;
  right: -0.03em;
}
body.home main .hero .inner h2 {
  color: #FFFFFF;
  font-family: Krungthep, sans-serif;
  font-size: min(36px, 5vw);
}
body.home main .hero .scroll-wrapper {
  position: absolute;
  bottom: 2.5rem;
  left: calc(50vw - 23px);
}
body.home main .hero .scroll-wrapper .scroll-directive {
  display: block;
  transform: translateY(0);
  animation: bounce 2s ease infinite;
}
body.home main .hero .scroll-wrapper .scroll-directive img {
  width: 46px;
}
body.home main .hero .scroll-wrapper .scroll-directive::after {
  content: "";
  position: absolute;
  top: -26px;
  left: -12px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  transition: 300ms ease;
  transform: scale(0);
}
body.home main .hero .scroll-wrapper .scroll-directive:hover {
  animation-play-state: paused;
}
body.home main .hero .scroll-wrapper .scroll-directive:hover::after {
  transform: scale(1);
  background-color: #785DA5;
}
body.home main .about-the-artist .inner {
  padding-top: 50px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (min-width: 2300px) {
  body.home main .about-the-artist .inner {
    max-width: 1900px;
  }
}
@media (min-width: 992px) {
  body.home main .about-the-artist .inner {
    padding-top: 100px;
  }
}
body.home main .about-the-artist .inner img {
  grid-column: span 12;
  width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  body.home main .about-the-artist .inner img {
    grid-column: 1/span 3;
  }
}
body.home main .about-the-artist .inner .text {
  grid-column: span 12;
  max-width: 750px;
  margin: auto 0;
  padding-top: 2rem;
}
@media (min-width: 992px) {
  body.home main .about-the-artist .inner .text {
    grid-column: span 9;
    padding-left: 30px;
    padding-top: 0;
  }
}
body.home main .about-the-artist .inner .text h2 {
  font-size: min(36px, 9vw);
  padding-bottom: 1.5rem;
  letter-spacing: 0.05em;
}
body.home main .about-the-artist .inner .text p {
  padding-bottom: 1em;
}
body.home main .portfolio .inner {
  padding-top: 60px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (min-width: 2300px) {
  body.home main .portfolio .inner {
    max-width: 1900px;
  }
}
@media (min-width: 992px) {
  body.home main .portfolio .inner {
    padding-top: 120px;
  }
}
body.home main .portfolio .inner .top {
  grid-column: 1/span 12;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}
@media (min-width: 767px) {
  body.home main .portfolio .inner .top {
    display: flex;
    margin-bottom: 1.5rem;
  }
}
body.home main .portfolio .inner .top h2 {
  font-size: min(36px, 9vw);
  letter-spacing: 0.05em;
  padding-bottom: 1rem;
}
@media (min-width: 767px) {
  body.home main .portfolio .inner .top h2 {
    padding-bottom: 0;
  }
}
body.home main .portfolio .inner .top a {
  font-size: 14px;
}
body.home main .portfolio .inner .item {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  background-color: #F2F2F2;
  grid-column: span 12;
}
body.home main .portfolio .inner .item img {
  width: 100%;
  height: calc((100vw - 8rem) * 0.67);
  object-fit: cover;
  margin-bottom: -2px;
}
body.home main .portfolio .inner .item h4 {
  width: 100%;
  font-family: Lato, sans-serif;
  background-color: #785DA5;
  color: white;
  padding: 0.75em 1em;
  font-size: 14px;
  font-weight: normal;
  transition: 300ms ease;
  flex-grow: 1;
}
body.home main .portfolio .inner .item:hover h4 {
  transform: translateY(0);
}
@media (min-width: 767px) {
  body.home main .portfolio .inner .item {
    grid-column: span 6;
    margin-bottom: 15px;
  }
  body.home main .portfolio .inner .item img {
    height: calc(((100vw - 8rem - 330px) / 2 + 150px) * 0.67);
  }
}
@media (min-width: 992px) {
  body.home main .portfolio .inner .item {
    grid-column: span 4;
    height: calc(((100vw - 8rem - 330px) / 3 + 90px) * 0.67);
    max-height: 293px;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
  }
  body.home main .portfolio .inner .item img {
    height: 100%;
  }
  body.home main .portfolio .inner .item h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
  }
}
@media (min-width: 2300px) {
  body.home main .portfolio .inner .item {
    max-height: 382px;
  }
}
body.home main .cv .inner {
  padding-top: 50px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (min-width: 2300px) {
  body.home main .cv .inner {
    max-width: 1900px;
  }
}
@media (min-width: 992px) {
  body.home main .cv .inner {
    padding-top: 100px;
  }
}
body.home main .cv .inner .top {
  grid-column: 1/span 12;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
body.home main .cv .inner .top h2 {
  font-size: 36px;
  padding-bottom: 1.5rem;
  letter-spacing: 0.05em;
}
body.home main .cv .inner .top a {
  font-size: 14px;
}
body.home main .cv .inner .cv-heading {
  grid-column: 1/span 12;
  margin-bottom: 1rem;
  overflow: hidden;
}
@media (min-width: 992px) {
  body.home main .cv .inner .cv-heading {
    margin-bottom: 2rem;
  }
}
body.home main .cv .inner .cv-heading img {
  width: 100%;
  height: auto;
  transform: scale(1.5);
}
@media (min-width: 992px) {
  body.home main .cv .inner .cv-heading img {
    transform: none;
  }
}
body.home main .cv .inner .contact-info, body.home main .cv .inner .artist-bio {
  margin-bottom: 2rem;
  grid-column: 1/span 12;
}
@media (min-width: 992px) {
  body.home main .cv .inner .contact-info, body.home main .cv .inner .artist-bio {
    grid-column: 1/span 5;
  }
}
body.home main .cv .inner .contact-info h3, body.home main .cv .inner .artist-bio h3 {
  background-color: #785DA5;
  color: white;
  padding: 0.75rem 2rem;
  font-size: 16px;
  margin-bottom: 1em;
}
@media (min-width: 992px) {
  body.home main .cv .inner .contact-info h3, body.home main .cv .inner .artist-bio h3 {
    font-size: 18px;
  }
}
body.home main .cv .inner .contact-info a, body.home main .cv .inner .artist-bio a {
  color: #000000;
  font-family: Lato, sans-serif;
  text-decoration-color: transparent;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-size: 14px;
  margin-bottom: 0.75em;
}
body.home main .cv .inner .contact-info a img, body.home main .cv .inner .artist-bio a img {
  margin-right: 1em;
}
body.home main .cv .inner .contact-info a:hover, body.home main .cv .inner .artist-bio a:hover {
  text-decoration-color: #000000;
}
body.home main .cv .inner .contact-info p, body.home main .cv .inner .artist-bio p {
  padding: 0 2rem 1em 2rem;
  font-size: 14px;
}
body.home main .cv .inner .contact-info {
  display: flex;
  flex-direction: column;
}
body.home main .cv .inner .divider {
  grid-column: 6/span 1;
  grid-row: 3/span 3;
  margin-top: -2.1rem;
  height: calc(100% + 2.5rem);
  width: 2px;
  background-color: #000000;
  display: none;
}
@media (min-width: 992px) {
  body.home main .cv .inner .divider {
    display: block;
  }
}
body.home main .cv .inner .content {
  grid-column: span 12;
}
@media (min-width: 992px) {
  body.home main .cv .inner .content {
    grid-column: span 6;
    grid-row: 3/span 3;
    margin-left: -30px;
  }
}
body.home main .cv .inner .content h4 {
  color: #785DA5;
  font-size: 16px;
  padding: 0.75rem 0 1.25rem 0;
}
@media (min-width: 992px) {
  body.home main .cv .inner .content h4 {
    font-size: 18px;
  }
}
body.home main .cv .inner .content h5 {
  font-family: Lato, sans-serif;
  font-size: 14px;
  padding-bottom: 0.2rem;
}
@media (min-width: 992px) {
  body.home main .cv .inner .content h5 {
    font-size: 16px;
  }
}
body.home main .cv .inner .content p {
  color: #4C4C4C;
  font-size: 14px;
  padding-bottom: 0.2rem;
}
body.home main .cv .inner .content .item {
  display: grid;
  grid-template-columns: 50px auto;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  body.home main .cv .inner .content .item {
    grid-template-columns: 75px auto;
  }
}
body.home main .cv .inner .content .item + h4 {
  margin-top: 3rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
body.portfolio nav .links a {
  color: #000000;
}
body.portfolio nav .hamburger .stripe {
  background-color: #000000;
}
body.portfolio main {
  padding-top: 3rem;
}
body.portfolio main .portfolio .inner {
  padding-top: 50px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (min-width: 2300px) {
  body.portfolio main .portfolio .inner {
    max-width: 1900px;
  }
}
@media (min-width: 992px) {
  body.portfolio main .portfolio .inner {
    padding-top: 100px;
  }
}
body.portfolio main .portfolio .inner .top {
  grid-column: 1/span 12;
  justify-content: space-between;
  align-items: baseline;
}
@media (min-width: 992px) {
  body.portfolio main .portfolio .inner .top {
    display: flex;
  }
}
body.portfolio main .portfolio .inner .top h1 {
  font-size: min(36px, 9vw);
  padding-bottom: 1.5rem;
  letter-spacing: 0.05em;
}
@media (min-width: 992px) {
  body.portfolio main .portfolio .inner .top h1 {
    padding-bottom: 0;
  }
}
body.portfolio main .portfolio .inner .top a {
  font-size: 14px;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 12px;
  display: inline-block;
}
@media (min-width: 992px) {
  body.portfolio main .portfolio .inner .top a {
    margin-left: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  body.portfolio main .portfolio .inner .top a {
    font-size: 14px;
    margin-left: 2rem;
  }
}
body.portfolio main .portfolio .inner section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 15px;
  grid-column: span 12;
  padding-top: 78px;
  margin-bottom: -30px;
}
body.portfolio main .portfolio .inner section:first-of-type {
  padding-top: 3rem;
}
@media (min-width: 992px) {
  body.portfolio main .portfolio .inner section {
    padding-top: 46px;
    column-gap: 30px;
  }
}
body.portfolio main .portfolio .inner section h2 {
  grid-column: span 12;
  font-family: Krungthep, sans-serif;
  color: #4C4C4C;
  font-size: min(21px, 5vw);
  margin-bottom: 1em;
}
body.portfolio main .portfolio .inner section .item {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  background-color: #F2F2F2;
  grid-column: span 12;
}
body.portfolio main .portfolio .inner section .item img {
  width: 100%;
  height: calc((100vw - 8rem) * 0.67);
  object-fit: cover;
  margin-bottom: -2px;
}
body.portfolio main .portfolio .inner section .item h4 {
  width: 100%;
  font-family: Lato, sans-serif;
  background-color: #785DA5;
  color: white;
  padding: 0.75em 1em;
  font-size: 14px;
  font-weight: normal;
  transition: 300ms ease;
  flex-grow: 1;
}
body.portfolio main .portfolio .inner section .item:hover h4 {
  transform: translateY(0);
}
@media (min-width: 767px) {
  body.portfolio main .portfolio .inner section .item {
    grid-column: span 6;
    margin-bottom: 15px;
  }
  body.portfolio main .portfolio .inner section .item img {
    height: calc(((100vw - 8rem - 330px) / 2 + 150px) * 0.67);
  }
}
@media (min-width: 992px) {
  body.portfolio main .portfolio .inner section .item {
    grid-column: span 4;
    height: calc(((100vw - 8rem - 330px) / 3 + 90px) * 0.67);
    max-height: 293px;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
  }
  body.portfolio main .portfolio .inner section .item img {
    height: 100%;
  }
  body.portfolio main .portfolio .inner section .item h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
  }
}
@media (min-width: 2300px) {
  body.portfolio main .portfolio .inner section .item {
    max-height: 382px;
  }
}

body.portfolio-item {
  position: relative;
}
body.portfolio-item nav .links a {
  color: #000000;
}
body.portfolio-item nav .hamburger .stripe {
  background-color: #000000;
}
body.portfolio-item main {
  padding-top: 96px;
}
body.portfolio-item main .item .inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (min-width: 2300px) {
  body.portfolio-item main .item .inner {
    max-width: 1900px;
  }
}
body.portfolio-item main .item .inner .images {
  grid-column: span 12;
  width: 100%;
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  body.portfolio-item main .item .inner .images {
    grid-column: 1/span 6;
    width: calc(100% + 4rem);
    margin-left: -4rem;
    grid-row: 1/2;
    padding-bottom: 0;
  }
}
body.portfolio-item main .item .inner .images img.main {
  width: 100%;
  height: calc(100vw - 4rem);
  object-fit: contain;
  object-position: center;
  background-color: #F2F2F2;
}
@media (min-width: 992px) {
  body.portfolio-item main .item .inner .images img.main {
    height: calc(((100vw - 8rem - 330px) / 2) + 150px + 4rem);
  }
}
body.portfolio-item main .item .inner .images .other-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
body.portfolio-item main .item .inner .images .other-images img {
  width: 100%;
  background-color: #F2F2F2;
  height: calc((100vw - 4rem) / 4);
  cursor: pointer;
}
@media (min-width: 992px) {
  body.portfolio-item main .item .inner .images .other-images {
    grid-template-columns: repeat(6, 1fr);
  }
  body.portfolio-item main .item .inner .images .other-images img {
    height: calc((((100vw - 8rem - 330px) / 2) + 150px + 4rem) / 6);
  }
}
@media (min-width: 1500px) {
  body.portfolio-item main .item .inner .images {
    margin-left: calc(-50vw + 750px - 4rem);
    width: calc(50vw - 15px);
  }
}
@media (min-width: 2300px) {
  body.portfolio-item main .item .inner .images {
    margin-left: calc(-50vw + 950px - 4rem);
    width: calc(50vw - 15px);
  }
}
body.portfolio-item main .item .inner .text {
  grid-column: span 12;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  body.portfolio-item main .item .inner .text {
    grid-column: 8/span 5;
    margin-left: -30px;
    padding: 3rem 0;
  }
}
body.portfolio-item main .item .inner .text a {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 3rem;
}
body.portfolio-item main .item .inner .text h1 {
  font-size: min(36px, 9vw);
  line-height: 1.3;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  body.portfolio-item main .item .inner .text h1 {
    margin-bottom: 3rem;
  }
}
body.portfolio-item main .item .inner .text p {
  padding-bottom: 0.25em;
}
body.portfolio-item main .accent {
  border-top: 200px solid transparent;
  border-bottom: 200px solid #785DA5;
  border-left: 60px solid transparent;
  border-right: 60px solid #785DA5;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
}
@media (min-width: 992px) {
  body.portfolio-item main .accent {
    display: block;
  }
}
@media (min-height: 800px) {
  body.portfolio-item main .accent {
    border-left: 100px solid transparent;
    border-right: 100px solid #785DA5;
  }
}
body.portfolio-item footer .links {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  body.portfolio-item footer .links {
    flex-direction: row;
  }
}
body.portfolio-item footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Lato, sans-serif;
  margin: 0 2rem 0 0;
  font-size: 12px;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
body.portfolio-item footer a img {
  filter: brightness(0) invert(1);
  margin-right: 0.5rem;
}
@media (min-width: 1200px) {
  body.portfolio-item footer a {
    margin-bottom: 0;
  }
}
body.portfolio-item footer p {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  body.portfolio-item footer p {
    margin-left: auto;
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
